.container {
  @include container;
  margin-top: 50px;

  @include tabletMobile {
    margin-top: 40px;
    margin-bottom: 100px;
  }

  @include mobile {
    margin-left: 0;
    margin-right: 0;
  }

  .plansWrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 100px;

    @include tabletMobile {
      overflow-x: scroll;
      overflow-y: hidden;
      padding: 10px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .title {
    font-family: var(--primary-text-font);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary-text-color);
    @include title;

    @include mobile {
      margin: 0 16px;
    }
  }
}

.forChildren {
  position: relative;
  padding-top: 50px;
  margin-bottom: 170px;

  .wrapper {
    @include container;
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .box {
    display: flex;

    @include tabletMobile {
      overflow-x: scroll;
      overflow-y: hidden;
      padding: 10px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &:before {
    content: '';
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary-cart-bg-color);
    z-index: -1;

    @include mobile {
      height: 450px;
    }
  }

  .desc {
    width: 100%;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--secondary-text-color);
    font-family: var(--secondary-text-font);
    margin-right: 60px;

    @include tablet {
      margin-right: 30px;
      max-width: 290px;
    }

    @include mobile {
      width: auto;
      max-width: 700px;
      margin-bottom: 50px;
      margin-left: 16px;
      margin-right: 16px;
    }

    .caption {
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      font-family: var(--primary-text-font);
      color: var(--primary-text-color);
      margin-bottom: 30px;
    }
  }
}

