.button {
  width: 100%;
  height: 50px;
  background: var(--primary-button-bg-color);
  color: var(--primary-btn-text-color);
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--primary-text-font);

  @include mobile {
    font-size: 16px;
    line-height: 19px;
    width: 100%!important;
  }

  &:hover {
    background: transparent;
    color: var(--secondary-btn-text-color);
    border: 1px solid var(--secondary-btn-text-color);
  }
}

.primary {
  background: var(--primary-button-bg-color);
  color: var(--primary-btn-text-color);

  &:hover {
    background: transparent;
    color: var(--secondary-btn-text-color);
    border: 1px solid var(--secondary-btn-text-color);
    transition: background .3s;
  }
}

.secondary {
  background: transparent;
  border: 1px solid var(--secondary-btn-text-color);
  color: var(--secondary-btn-text-color);

  &:hover {
    background: transparent;
    border: 1px solid var(--secondary-btn-text-color);
    color: var(--secondary-btn-text-color);
    opacity: 0.7;
    transition: background .3s;
  }
}

.white {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    opacity: 0.7;
    transition: background .3s;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
