.label {
  width: 24px;
  height: 12px;
  display: block;
  position: relative;

  input {
    display: none;

    &:checked ~ .line {
      transform: rotate(45deg);
      height: 0;

      &:after {
        top: 6px;
        transform: rotate(90deg);
      }

      &:before {
        top: 6px;
        transform: rotate(0);
      }
    }
  }

  .line {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #222222;
    transition-duration: .1s;

    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #222222;
      transition-duration: .25s;
    }

    &:before {
      top: 6px;
    }

    &:after {
      top: 12px;
    }
  }
}
