.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  position: relative;
  background-color: #fff;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  border: 1px solid #BEBEBE;
  box-shadow: 2.80667px 2.80667px 5.61333px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: url('../../images/cross.svg') no-repeat;
  background-size: contain;
  width: 23px;
  height: 23px;
  border: none;

  @include mobile {
    height: 13px;
    width: 13px;
    top: 11px;
    right: 13px;
  }
}
