:root {
  --primary-bg-color: #F8FFE9;
  --secondary-bg-color: #5259FF;
  --footer-bg-color: #EEF3E2;
  --primary-cart-bg-color: #ffffff;
  --individual-cart-bg-color: #FFE1FE;
  --group-cart-bg-color: #CBF9FF;
  --secondary-carts-bg-color: #ffffff;
  --primary-button-bg-color: #5259FF;
  --primary-button-hover-bg-color: #ffffff;
  --primary-border-color: #BEBEBE;
}
