@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roboto.ttf") format("ttf")
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Inter.ttf") format("ttf")
}
