:root {
  --primary-text-color: #222222;
  --secondary-text-color: #616161;
  --primary-btn-text-color: #ffffff;
  --secondary-btn-text-color: #5259FF;
  --highlighted-text-color: #5259FF;
  --primary-placeholder-color: #BEBEBE;
  --mobile-menu-box-text-color: #fff;
  --error-text-color: #FF6060;
}
