.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: sticky;

  .title {
    font-family: var(--primary-text-font);
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    height: 500px;

    .items {
      height: 100vh;
    }

    .content {
      width: 600px;
    }
  }
}
