.container {
  @include container;

  .title {
    font-family: var(--primary-text-font);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    @include title;
  }
}
