.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 700px;

  .title {
    font-family: var(--primary-text-font);
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 20px;
  }

  .desc {
    font-family: var(--secondary-text-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--secondary-text-color);
    margin-bottom: 100px;
  }

  .facts {
    width: 100%;
    max-width: 420px;

    .fact {
      position: relative;
      font-family: var(--secondary-text-font);
      color: var(--secondary-text-color);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      padding: 14px 60px 14px 0;
      border-bottom: 1px solid var(--primary-border-color);

      &:first-child {
        border-top: 1px solid var(--primary-border-color);
      }

      &::after {
        content: '';
        background: url('../../../../images/home/icon_complete.svg');
        width: 30px;
        height: 34px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}
