.menu {
  @include container;
  display: flex;
  padding: 17px 0;
  font-family: var(--secondary-text-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text-color);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-border-color);


  .logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-family: var(--primary-text-font);
    text-align: left;
  }

  .phoneNumber {
    color: var(--primary-text-color);
    text-align: right;
  }

  .item {
    color: var(--primary-text-color);
    margin-right: 40px;

    @include tablet {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .button {
    width: max-content;
    height: 30px;
    font-size: 13px;
    padding: 0 20px;
    position: relative;
    right: 30px;

    @include tablet {
      right: 10px;
    }
  }
}
