.content {
  width: 100%;
  border-top: 1px solid var(--primary-border-color);
  padding: 15px 0;

  &:last-child {
    border-bottom: 1px solid var(--primary-border-color);
  }

  .title {
    font-family: var(--secondary-text-font);
    color: var(--primary-text-color);
    font-weight: 400;
    cursor: pointer;
    position: relative;
    @include desc;

    &:after {
      content: '';
      background-image: url('../../images/arrow.svg');
      background-repeat: no-repeat;
      width: 20px;
      height: 10px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .open {
    &:after {
      transform: translate(0, -50%) rotate(180deg);
    }
  }

  .inner {
    font-family: var(--secondary-text-font);
    color: var(--secondary-text-color);
    font-weight: 400;
    padding: 30px 0 25px;
    @include desc;
  }
}
