.container {
  position: relative;
  padding-left: 30px;
  margin: 0 20px 30px 0;
  width: calc(50% - 20px);

  @include mobile {
    width: 100%;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-last-child(-n+2) {
    margin-bottom: 0;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &:before {
    content: '';
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #5259FF;
    border-bottom: 10px solid transparent;
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    top: 1px;
  }

  .title {
    font-size: 20px;
    line-height: 24px;
    font-family: var(--primary-text-font);
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }

  .desc {
    font-size: 16px;
    line-height: 140%;
    font-family: var(--secondary-text-font);
    color: var(--secondary-text-color);
  }
}
