.container {
  @include container;
  margin-bottom: 440px;

  @include tablet {
    margin-bottom: 200px;
  }

  @include mobile {
    margin-bottom: 100px;
  }

  .title {
    font-family: var(--primary-text-font);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 50px;
    @include title;
  }

  .wrapper {
    width: 100%;
    max-width: 780px;
    margin-left: auto;

    .desc {
      padding: 30px;
    }
  }
}

.highlightedText {
  color: var(--highlighted-text-color);
  margin-right: 15px;
}
