.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 170px;
}

.title {
  font-family: var(--primary-text-font);
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  text-transform: uppercase;
  color: var(--primary-text-font);
  text-align: left;
}

.content {
  width: 100%;
  max-width: 600px;
  margin-top: 70px;

  .subtitle {
    font-family: var(--primary-text-font);
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  .benefits {
    list-style-image: url('../../../../images/home/checkmark.svg');
    padding-left: 20px;
    margin-bottom: 30px;

    .benefit {
      padding-bottom: 10px;
      font-family: var(--secondary-text-font);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--secondary-text-color);

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.form {
  margin-top: 80px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.highlightedText {
  color: var(--highlighted-text-color);
}
