.wrapper {
  position: relative;
}

.buttons {
  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mobile {
    top: -95px;
    right: 0;
    left: auto;
    transform: none;
    width: auto;
  }


  .prevButton {
    background: url('../../images/slider_arrow.svg');
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;

    &[disabled] {
      pointer-events: none;
      opacity: 0.3;
      cursor: default;
    }

    &:hover {
      background: url('../../images/slider_arrow_hover.svg');
    }

    @include mobile {
      width: 50px;
      height: 50px;
      margin-right: 24px;
    }
  }

  .nextButton {
    background: url('../../images/slider_arrow.svg');
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);

    &[disabled] {
      pointer-events: none;
      opacity: 0.3;
      cursor: default;
    }

    &:hover {
      background: url('../../images/slider_arrow_hover.svg');
    }

    @include mobile {
      width: 50px;
      height: 50px;
    }
  }
}

.content {
  margin: 0 100px;
  background: #FFFFFF;
  border: 1px solid #BEBEBE;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 40px 50px;
  font-family: var(--secondary-text-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  @include mobile {
    margin: 0;
    padding: 20px;
  }
}

.author {
  display: flex;
  align-items: center;
  margin: 40px 0 0 100px;

  @include mobile {
    margin: 50px 0 0 0;
  }

  .data {
    margin-left: 30px;

    .name {
      font-family: var(--primary-text-font);
      font-weight: 400;
      font-size: 30px;
      line-height: 140%;
      color: #5259FF;
      margin-bottom: 10px;
    }

    .link {
      font-family: var(--secondary-text-font);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #616161;
    }
  }
}
